.input-streamer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  padding: 0 0 15px 0;
  margin-bottom: 5px;
}

input {
  height: 24px;
  padding-left: 10px;
  color: #222;
}

.add-btn {
  background-color: #866bb9;
}
