$background: #222222;
$darkPurple: #6441a5;
$medPurple: #866bb9;
$lightPurple: #a78dd8;
$shadowPurple: #422b6e;
$fontLight: #eae5f3;
$blue: #0080ff;
$lightBlue: #40c2ff;
$red: #ff6464;
$green: #24b15a;
$lightGreen: #19e567;
