$background: #123456;
$darkPurple: #6441a5;
$medPurple: #866bb9;
$lightPurple: #a78dd8;
$fontLight: #eae5f3;
$blue: #0080ff;
$lightBlue: #00eeff;
$red: #ff6464;
$green: #24b15a;
$lightGreen: #19e567;
