.streamer-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  box-sizing: border-box;
  background-color: #866bb9;
  opacity: .85;
  margin: 2px 0;
  padding: 5px 15px;
  transition: 0.15s;

  &:hover {
    opacity: 1;
  }

  a {
    text-decoration: none;
  }

  &#offline .status {
    font-style: italic;
    font-size: 15px;
  }

  .logo {
    padding: 10px 0 10px 5px;

    a {
      display: flex;

      img {
        height: 60px;
        width: 60px;
        border-radius: 50%;
        border: 2.5px solid;
        transition: .1s;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  .channel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 175px;
    padding: 10px;
  }

  .status {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 200px;
    font-size: 12px;
    padding: 5px 10px;
  }

  #delete-button {
    padding-left: 5px;
    cursor: pointer;
    opacity: .5;
    font-size: 20px;
    transition: .1s;

    &:hover {
      opacity: 1;
    }
  }
}
