.streamer-search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  padding: 25px 0 0;

  #search-bar {
    display: flex;
    align-items: center;
    height: 30px;
    width: 350px;
    background-color: $darkPurple;
    border-radius: 100px;
    border: 2px solid $lightPurple;
    padding: 0 10px;
    color: $fontLight;

    input {
      width: 100%;
      background: transparent;
      border: none;
      color: $fontLight;
      font-weight: 300;
      font-size: 15px;
      letter-spacing: 1px;
      padding: 0 5px;

      &:focus {
        outline: none;
      }
    }

    .fa-search {
      padding: 0 5px;
      font-size: 15px;
      color: $lightPurple;
      cursor: pointer;

      &:hover {
        color: $lightBlue;
      }
    }
  }
}
