#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  background-color: $darkPurple;
  border: 2px solid $lightPurple;
  border-radius: 25px;
  margin-bottom: 25px;
  z-index: 5;
}
