header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: $darkPurple;
  padding: 15px;

  h1 {
    padding: 5px 15px 10px 15px;
    font-family: 'Exo 2';
  }

  .buttons {
    display: flex;
    padding-right: 15px;

    li {
      list-style: none;

      button {
        background-color: $lightPurple;
        border: none;
        outline: none;
        color: #fff;
        margin-left: 10px;
        padding: 5px 10px 5px 10px;
        transition: .1s;

        &:hover {
          background-color: $blue;
          cursor: pointer;
        }
      }

      .active {
        background-color: $blue;
      }
    }
  }
}
